<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>XOpload Videos</title>
    <link rel="stylesheet" href="/upload.css" />
</head>
<body>
    <h1>XOpload Videos</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div>
            <label for="video">Video:</label>
            <input type="file" id="video" name="video">
        </div>
        <div>
            <label for="thumbnail">Thumbnail:</label>
            <input type="file" id="thumbnail" name="thumbnail">
        </div>
        <div>
            <button type="submit">Upload</button>
        </div>
    </form>
</body>
</html>